*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(to right,#f5f7fa,#c3cfe2);
    line-height:1.6;
}

/* Navigation */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#333;
    padding:15px 30px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    color:white;
}

.logo img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    margin:0;
}

.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin-left:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

.nav-links a:hover{
    color:yellow;
}

/* Hero */

.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero h1{
    font-size: 60px;
    color:#222;
    margin-bottom:10px;
}

.hero p{
     font-size:22px;
     color:#666;
}

/* Cards */

.card{
    width:80%;
    margin:30px auto;
    padding:40px;
    background:white;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);
    animation:fadeIn 1s ease-in;
    transition:0.4s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    margin-bottom:15px;
    color:#333;
}

/* Image */

.card img{
    width:200px;
    display:block;
    margin:15px auto;
    border-radius:10px;
}

/* Quote */

blockquote{
    background:#f4f4f4;
    border-left:5px solid #333;
    padding:15px;
    margin:10px 0;
    font-style:italic;
}

/* List */

ul{
    padding-left:20px;
}

/* Table */

table{
    width:100%;
    border-collapse:collapse;
}

table,
th,
td{
    border:1px solid black;
}

th{
    background:#333;
    color:white;
}

th,
td{
    padding:10px;
    text-align:center;
}

/* Button */

button{
    padding:10px 20px;
    background:#333;
    color:white;
    border:none;
    cursor:pointer;
    transition:0.4s;
}

button:hover{
    background:darkblue;
    transform:scale(1.05);
}

/* Footer */

footer{
    text-align:center;
    background:#333;
    color:white;
    padding:20px;
    margin-top:20px;
}

/* Animation */

@keyframes fadeIn{
    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}
